header{
  height: 80px;
  width: 100%;
  background-color: lightgray;
}

.main{
  background-color: white;
}

.parent{
  width :360px;
  height: 360px;
  background-color: pink;
  margin: 40px;
  position: relative;
}

.child{
  width :200px;
  height: 200px;
  background-color: skyblue;
  position: absolute;
  top: 40px;
  left: 40px;
}

footer{
  height: 80px;
  width: 100%;
  background-color:lightgray;
}